.vagrant/
.idea/
.webassets-cache
.vscode/
__pycache__/
.env/

*.log
*.egg-info
*.pyc

marketplace.app/flask_sessions/
marketplace.app/.venv/
marketplace.app/migrations/
marketplace.app/marketplace/user_images/

node_modules/
bundle.min.css
app.min.js

.env.prod


3.6/
