.breadcrumb{
  padding: 30px;
  list-style: none;
  background-color: #fff;
}

.breadcrumb li {
    display: inline-block;
    font-size: 16px;
    color: #000;
    margin-right: 40px;
}

.breadcrumb li a {
  color: gray;
  text-decoration: none;
}

.breadcrumb li a:hover{
  color: #000;
  text-decoration: underline;
}

.product_title{
  display: inline-block;
  margin-bottom: 40px;
}

.card_image{
  max-width: 400px;
  outline: 1px solid gray;
}

.product_info span{
  display: block;
}

.producer_title_name,
.product_id,
.product_price_value{
  color: #000;
  margin-bottom: 30px;
}

.product_quantity {
  width: 200px;
  /* margin: 0 auto; */
  /* text-align: center; */
  /* padding-top: 50px; */
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 6px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

.product_quantity #decrease {
  margin-right: -4px;
  border-radius: 20px;
}

.product_quantity #increase {
  margin-left: -4px;
  border-radius: 20px;
}

.product_quantity #input-wrap {
  margin: 0px;
  padding: 0px;
}

.product_quantity_input#number {
  text-align: center;
  border: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 10px;
  width: 40px;
  height: 40px;
}

.product_quantity_input[type=number]::-webkit-inner-spin-button,
.product_quantity_input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-cart{
  margin: 20px 0;
  background-color: green;
}

.stock{
  display: inline-block;
  line-height: 30px;
  padding: 0 20px;
  background-color: #eee;
  color: red;
  border-radius: 5px;
}
