/*breadcrumbs*/
.breadcrumbs {
    margin-bottom: 40px;
}

.breadcrumbs span a {
    text-decoration: underline;
    margin-right: 20px;
}
 .breadcrumbs span a.active {
    text-decoration: none;
    color: #78C2AD;
}
 .breadcrumbs span a.active:hover {
    color: #78C2AD;
}
/*end breadcrumbs*/
main {
    padding-top: 40px;
    padding-bottom: 40px;
}

h1 {
    font-size: 2rem;
}

.edit-profile form {
    margin-top: 40px;
}

.edit-profile-item {
    margin-bottom: 30px;
}

.edit-profile-item #photo {
    padding: 0px;
}

.edit-profile-save {
    margin-top: 40px;
}

.edit-profile-save .btn {
    display: block;
    margin-left: auto;
}

input::-moz-placeholder { font-weight: 100; }
input::-webkit-input-placeholder { font-weight: 100; }
input::-ms-input-placeholder { font-weight: 100; }
input::-ms-input-placeholder { font-weight: 100; }
input::placeholder { font-weight: 100; } 

/*edit*/
.delete-profile p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #FF7851;
}

.delete-profile p a {
    color: #FF7851;
}

.delete-profile p img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}