/*breadcrumbs*/
.breadcrumbs span a {
	text-decoration: underline;
	margin-right: 20px;
}
 .breadcrumbs span a.active {
	text-decoration: none;
	color: #78C2AD;
}
 .breadcrumbs span a.active:hover {
	color: #78C2AD;
}
/*end breadcrumbs*/
 main .products {
	padding-top: 40px;
	padding-bottom: 40px;
}
 main .products .product-card {
	margin-top: 40px;
}
 /*from catalog*/
.card-item .product-item-photo {
	max-height: 150px;
}
 .card-item .product-item-photo img {
	width: 100%;
}
 .product-item-description {
	margin-top: 1rem;
}
 .product-item-description b {
	display: block;
    width: fit-content;
    margin-left: auto;
}
 .product-item-description p {
	margin-bottom: 0rem;
    display: block;
    width: fit-content;
    margin-left: auto;
    color: #000000e6;
}
 .card-item a:hover .product-item-description p {
	color: #4aa48a;
	text-decoration: none;
}
 .card-item a:hover {
	text-decoration: none;
}

.card-item {
	margin-bottom: 2rem;
}
/*end catalog*/

/*filter*/
 .product-filter {
	margin-top: 30px;
	display: flex;
}

 .product-filter form {
	display: flex;
	width: 75%;
}
 .product-filter form .filter-block {
    box-sizing: border-box;
}

 .form-check:hover .form-check-label,
.form-check:hover .form-check-input{
	cursor: pointer;
	color: #56CC9D;
} 

.add-product {
	margin-left: auto;
}
/*end-filter*/

.product-item-description .edit-product a {
	color: grey;
}

.product-item-description .edit-product a:hover,
.product-item-description .edit-product a:active {
	text-decoration: underline; 
}

.product-item-description .edit-product a img,
.out-of-stock img {
    height: 20px;
    margin-right: 10px;
}

p.out-of-stock{
	color: #FF7851;
	margin-top: 0.5rem;
}