
/*breadcrumbs*/
.breadcrumbs span a {
	text-decoration: underline;
	margin-right: 20px;
}

.breadcrumbs span a.active {
	text-decoration: none;
	color: #78C2AD;
}

.breadcrumbs span a.active:hover {
	color: #78C2AD;
}
/*end breadcrumbs*/

main .products {
	padding-top: 40px;
	padding-bottom: 40px;
}

main .products .product-card {
	margin-top: 40px;
}

/*from catalog*/
.card-item .product-item-photo {
	max-height: 150px;
}

.card-item .product-item-photo img {
	width: 100%;
}

.product-item-description {
	margin-top: 1rem;
}

.product-item-description b {
	display: block;
    width: fit-content;
    margin-left: auto;
}

.product-item-description p {
	margin-bottom: 0rem;
    display: block;
    width: fit-content;
    margin-left: auto;
    color: #000000e6;
}

.card-item a:hover .product-item-description p {
	color: #4aa48a;
	text-decoration: none;
}

.card-item a:hover {
	text-decoration: none;
}
/*end catalog*/
.card-item {
	margin-bottom: 2rem;
}

.product-producer-filter {
	margin-top: 30px;
}

.product-producer-filter form {
	display: flex;
}

.product-producer-filter form .filter-block {
    box-sizing: border-box;
}

.form-check:hover .form-check-label,
.form-check:hover .form-check-input{
	cursor: pointer;
	color: #56CC9D;
}