h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

main {
  margin-top: 50px;
  margin-bottom: 40px;
  min-height: calc(100vh - 400px);
}

input[type="text"] {
  color: black;
}

main.main-footer-bottom h1 {
  margin-bottom: 2rem;
}

main.main-footer-bottom + .modal + footer {
  width: 100%;
}

form .filter-block:first-child {
  padding-left: 0;
}

@media (max-width: 800px) {
  main.main-footer-bottom + .modal + footer {
    position: relative;
  }
}

.backlighting_nav_item.active .header-card {
  background: #ee686e;
  border-radius: 5px;
}

.backlighting_nav_item.active .header-card span {
  background: #ee686e;
}

.hullabaloo.alert.alert-dismissible {
  width: fit-content !important;
  max-width: 500px !important;
  top: 70px !important;
}

.hullabaloo.alert.alert-dismissible.alert-default {
  background-color: rgba(122, 193, 173, 0.71) !important;
}

@media (max-width: 350px) {
  .hullabaloo.alert.alert-dismissible {
    right: 0 !important;
  }
}

.goods-ended {
  color: #FF7851 !important;
  margin-top: 5px;
  opacity: 0.8;
}

.goods-ended img {
  margin-right: 18px;
  height: 20px;
}

.NothingFound {
  display: block;
  margin: auto;
  margin-top: 2%;
}

.error-recovery-password {
  color: #ee686e;
  display: none;
}

.modal-dialog {
  margin: auto;
  margin-top: 30px;
}

#loadingSpinner {
  display: none;
  width: -moz-fit-content;
  height: fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
}