h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

main {
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: calc(100vh - 400px);
}

input[type="text"] {
    color: black;
}

main.main-footer-bottom h1{
    margin-bottom: 2rem;
}

main.main-footer-bottom + .modal + footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

form .filter-block:first-child {
    padding-left: 0;
}

@media (max-width: 800px) {
    main.main-footer-bottom + .modal + footer {
        position: relative;
    }
}


