
.product_title {
    margin-bottom: 30px;
    margin-top: 40px;
}

.card_image {
    max-width: 200px;
}

.product_info span {
    display: block;
}

.producer_title_name,
.product_id,
.product_price_value,
.product_balance_value {
    color: #000;
    margin-bottom: 15px;
}

.product_quantity {
    margin: 0 15px;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 6px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

.product_quantity #decrease {
    margin-right: -4px;
    border-radius: 20px;
}

.product_quantity #increase {
    margin-left: -4px;
    border-radius: 20px;
}

.product_quantity #input-wrap {
    margin: 0px;
    padding: 0px;
}

.product_quantity_input#number {
    text-align: center;
    border: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 10px;
    width: 40px;
    height: 40px;
}

.product_quantity_input[type=number]::-webkit-inner-spin-button,
.product_quantity_input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stock {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    background-color: #eee;
    color: #FF5722;
    border-radius: 5px;
    padding-right: 10px;
}

.stock img {
    width: 20px;
    height: 20px;
    margin: 5px 10px;
}

.description-product {
    margin-top: 2rem;
}

.description-product .col-12 p {
    text-align: justify;
    color: #5a5a5a;
}

.product-card-image {
    max-height: 350px;
    display: block;
}

.product-card-image img {
    display: block;
    max-height: inherit;
    width: auto;
    max-width: 100%;
}

.review-product-block {
    margin-top: 1rem;
}

.review-product-block h2 {
    margin-bottom: 1.5rem;
}

.review-product-item {
    /* border-bottom: 1px solid #dadadafa; */
    border-bottom: 1px solid rgba(217, 217, 217, 0.98);
    margin-bottom: 1rem;
    padding: 0;
}

.review-product-block button {
    margin-top: 1rem;
}

.review-product-item .review-data {
    text-align: right;
}

.review-product-item .review-consumer {
    font-size: 1.2rem;
    color: #5a5a5a;
}

.review-product-item .review-comment {
    color: #5a5a5a;
}

.review-product-item:last-child {
    border: none;
}
