.catalog-category-item a img {
    max-width: 70%;
    max-height: 150px;
}

.catalog-category {
    margin-top: 30px;
    margin-bottom: 40px;
}

.catalog-category-item {
    padding-top: 20px;
}

.catalog-category-item a {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.catalog-category-item a p {
    margin-top: 1rem;
    color: #5a5a5a;
}

.catalog-category-item a:hover {
    text-decoration: none;
}

.catalog-category-item a:hover p {
    color: #ff7851;
}

.popular-product {
    margin-top: 30px;
}

.card-item .product-item-photo {
    max-height: 150px;
}

.card-item .product-item-photo img {
    width: 100%;
}

.product-item-dscription {
    margin-top: 1rem;
}

.product-item-dscription b {
    display: block;
    width: fit-content;
    margin-left: auto;
}

.product-item-dscription p {
    margin-bottom: 0rem;
    display: block;
    width: fit-content;
    margin-left: auto;
    color: #343a40;
}

.card-item a:hover .product-item-dscription p {
    color: #78c2ad;
    
}

.card-item a:hover {
    text-decoration: none;
}

.popular-product .card-item {
    margin-bottom: 2rem;
}