main .products .product-card {
    margin-top: 40px;
}

.card-item {
    margin-bottom: 2rem;
}

.product-filter {
    margin-top: 30px;
}

.product-filter form {
    display: flex;
}

.product-filter form .filter-block {
    box-sizing: border-box;
}

.form-check:hover .form-check-label,
.form-check:hover .form-check-input{
    cursor: pointer;
    color: #56CC9D;
}
