.edit-profile form {
    margin-top: 40px;
    margin-bottom: 40px;
}

.edit-profile-item {
    margin-bottom: 30px;
}

.edit-profile-item #photo {
    padding: 0px;
}

.edit-profile-save {
    margin-top: 40px;
}

.edit-profile-save .btn {
    display: block;
    margin-left: auto;
}

input::-moz-placeholder { font-weight: 100; }
input::-webkit-input-placeholder { font-weight: 100; }
input::-ms-input-placeholder { font-weight: 100; }
input::-ms-input-placeholder { font-weight: 100; }
input::placeholder { font-weight: 100; } 

.delete-profile p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #FF7851;
}

.delete-profile p a {
    color: #FF7851;
}

.delete-profile p img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

input#consumer_photo {
    padding: 0;
}

input#producer_logo {
    padding: 0;
}

main.edit_consumer + .modal + footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
 @media (max-width: 800px) {
    main.edit_consumer + .modal + footer {
        position: relative;
    }
}