@import 'variable';

.edit-product-card form {
    margin-top: 40px;
}

.edit-product-item {
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.edit-product-item #photo {
    padding: 0px;
}

.edit-product-save {
    margin-top: 40px;
}

.edit-product-save .btn {
    display: block;
    margin-left: auto;
}

.edit-product-item #price {
    background-image: url(img/ruble-sign-solid.svg);
    padding-right: 40px;
    background-size: 15px;
    background-position-x: 95%;
    background-position-y: center;
    background-repeat: no-repeat;
}

.edit-product-item #weigth {
    margin-right: 20px;
}

input::-moz-placeholder { font-weight: 100; }
input::-webkit-input-placeholder { font-weight: 100; }
input::-ms-input-placeholder { font-weight: 100; }
input::-ms-input-placeholder { font-weight: 100; }
input::placeholder { font-weight: 100; }

.edit-product-item #editWeight,
.edit-product-item #createWeigth {
    height: 38px;
}

#createProductPage .breadcrumbs {
    margin-bottom: 30px;
}

@media (max-width: $small) {
  .edit-product-item {
    margin-right: 0;
    margin-left: 0;
    input.form-control,
    select.form-control{
      max-width: 280px;
    }
  }
}

.upload-image-block .cabinet.center-block figure {
  height: 150px;
}

.upload-image-block .upload-image-button {
  width: -moz-fit-content;;
}