footer {
    background: #78C2AD;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-item h3,
.footer-item p a,
.footer-item b {
	color: #fff;
}

.footer-item h3 {
	font-size: 1.4rem;
    padding-bottom: 0.8rem;
}

.footer-social-icon div img {
	height: 30px;
}

.footer-social-icon {
	display: flex;
}

.footer-social-icon div {
    margin: 10px;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container .watermark {
    width: fit-content;
    margin-left: auto;
    color: #fff;
    opacity: 0.5;
}

.footer-social-icon div:hover,
.footer-social-icon div:active {

	cursor: pointer;
}

.footer-social-icon .insta-icon:hover,
.footer-social-icon .insta-icon:active {
    background-color: #F3969A;
}

.footer-social-icon .fb-icon:hover,
.footer-social-icon .fb-icon:active {
    background-color: #3b5998;
}

.footer-social-icon .vk-icon:hover,
.footer-social-icon .vk-icon:active {
    background-color: #4d7198;
}