.header-logo {
    width: 40px;
}

.header-dropdown-toggle button {
    width: 70px;
}

.header-dropdown-toggle button img {
    width: 20px;
}

.header-login img,
.header-card img {
    max-width: 80%;
}

.header-dropdown-toggle .dropdown-menu .btn-secondary {
    background: #F3969A;
    color: white;
    width: 90%;
    margin: 8px;
}

.header-dropdown-toggle .dropdown-menu .btn-secondary:hover,
.header-dropdown-toggle .dropdown-menu .btn-secondary:active {
    background: #ff7851;
}

.header-login,
.header-card {
    height: 38px;
    display: flex;
    justify-content: center;
}

.header-login:hover,
.header-login:active,
.header-card:hover,
.header-card:active {
    background: #ee686e;;
    border-radius: 5px;
}

.header-card:hover {
    text-decoration: none;
}

.header-card {
    padding-left: 5px;
    padding-right: 5px;
}

.nav-link-producer_orders {
    display: flex;
    align-items: center;
}

.cart_nav_link_container {
    display: flex;
    justify-content: flex-start;
}

.header_card_badge {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link .badge {
    margin-left: 5px;
}

@media (max-width: 990px) {
    .navbar-collapse .header-card,
    .navbar-collapse .header-login {
        display: inline-block;
    }
}

.cart_nav_container .header-cart {
    min-width: 35px;
    height: auto;
}

.header-dropdown-toggle .dropdown-menu .btn-secondary:hover, .header-dropdown-toggle .dropdown-menu .btn-secondary:active {
    background: #ee686e;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
    background-color: #ee686e;
}

@media (max-width: 576px) {
    .header-dropdown-toggle {
        display: block;
    }

    .header-dropdown-toggle .btn.btn-secondary.dropdown-toggle {
        margin-left: 0;
        margin: auto;
        display: block;
        width: 70%;
    }

    header .form-control {
        width: 70%;
        display: block;
        margin: auto;
    }

    header a.nav-link {
        text-align: center;
        display: block;
    }

    header .dropdown-menu.show {
        margin-left: 15%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.35rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}