
.order_history_info {
    margin: 30px 0;
    color: #5a5a5a;
    font-weight: 700;
    font-size: 1rem;
}

.cart_product_stock_title span,
.cart_product_stock_info span {
    display: block;
}

.cart_product_stock_info {
    /* color: #242525e0; */
    color: rgba(35,36,36,0.88);
}

.delivery_container {
    padding-bottom: 30px;
}

.delivery span,
.delivery_value span {
    display: block;
}

.delivery span {
    margin-right: 30px;
}

.order_history_info .order-history-producer-name {
    padding-left: 15px;
}

.delivery_container .col-3.delivery_value-header {
    text-align: right;
    padding-right: 0;
}

.order-history-btn-block {
    justify-content: flex-end;
    margin-top: 2rem;
}

.order-history-btn-block .col-3 button {
    margin-left: auto;
    display: block;
}

.order-product-photo {
    max-width: 100%;
}

.order-block-separator {
    padding: 0;
}

.order-block-separator {
    border-bottom: 1px solid #eee;
}

.order-block-separator:last-child {
    border-bottom: none;
}

.consumer-review-block form {
    display: flex;
    flex-direction: column;
}

.consumer-review-block img {
    height: auto;
}

.consumer-review-block {
    margin-bottom: 2rem;
}


.consumer-review-block textarea {
    height: 100%;
    border-radius: 5px;
    border-color: #cac8c8;
}

.consumer-review-block form {
    height: 100%;
}

.consumer-review-send button {
    display: block;
    margin-left: auto;
}

.consumer-review-block p {
    font-size: 1.2rem;
    color: #5a5a5a;
}

.consumer-review-block label {
    color: #5a5a5a;
}

.order-history-product {
    margin-bottom: 1rem;
}

.order-history-producer-link {
    color: #5a5a5a;
}

.btn-order-history-cancel{
    margin-right: 15px;
}


.order-block-separator .order_history_info div {
    padding: 0;
}