

.order-registration-header h1 {
    margin-left: 0.8rem;
    margin-top: 2rem;
}

.order-sum {
    margin-left: auto;
}

.order_registration form {
    margin-top: 40px;
}

.order-registration-item {
    margin-bottom: 30px;
}

.order-registration-agree {
    margin-top: 40px;
}

.order-registration-agree .btn {
    display: block;
    margin-left: auto;
}

.registration-order-item {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.registration-order-item .producer-name {
    font-size: 1.2rem;
    color: #3c3a3a;
    font-weight: 500;
}

.registration-order-item .order-item {
    color: #3c3a3a;
    font-weight: 500;
}

.delivery-method {
    margin-top: 1rem;
}

.delivery-method form {
    margin-top: 0;
}

.delivery-method form select {
    color: #3c3a3a;
}

.registration-order-items-block .order-sum .col-4,
.registration-order-items-block .order-sum .col-auto {
    padding-left: 0;
    color: #3c3a3a;
}

.registration-order-items-block .order-sum .col-auto {
    margin-left: auto;
}

.registration-order-items-block .order-sum {
    margin-top: 2rem;
}