

.order-registration-header h1 {
    margin-left: 0.8rem;
    margin-top: 2rem;
}

.order-sum {
    margin-left: auto;
}

.order_registration form {
    margin-top: 40px;
}

.order-registration-item {
    margin-bottom: 30px;
}

.order-registration-agree {
    margin-top: 40px;
}

.order-registration-agree .btn {
    display: block;
    margin-left: auto;
}
