.parsley-errors-list.filled {
    margin: 0;
    list-style: none;
    color: rgb(255, 120, 81);
}

#errorRegistrationProducer {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #F44336;
    margin-top: -15px;
    display: none;
}