$small: 576px;
$media: 768px;
$large: 992px;
$xl: 1200px;

$primary: #78C2AD;
$secondary: #F3969A;
$success: #56CC9D;
$info: #6CC3D5;
$warning: #FFCE67;
$danger: #FF7851;
$main_text: #5a5a5a;
$secondary-text: #888888;