<div class="modal fade" id="singInUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-min-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#">
                    <p>
                        <label for="emailAuthorisation">Email</label>
                        <input type="email" autofocus class="form-control" id="emailAuthorisation" placeholder="email@email.ru" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="100">
                    </p>
                    <p>
                        <label for="passwordAuthorisation">Пароль</label>
                        <input type="password" class="form-control" placeholder="*******" id="passwordAuthorisation" name="password" maxlength="100">
                        <span id="authUserAlert">Неверный логин или пароль</span>
                    </p>
                    <input type="button" class="btn btn-success" value="Вход" id="authButton">
                    <p class="registration-link"><a href="" data-toggle="modal" data-target="#singUpUser" aria-label="Close" data-dismiss="modal">Регистрация</a></p>
                    <p class="registration-link"><a href="" data-toggle="modal" data-target="#resetPasssword" aria-label="Close" data-dismiss="modal">Забыли пароль?</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
