<div class="modal fade" id="reportAdmissionModal" tabindex="-1" role="dialog" aria-labelledby="reportAdmissionModal"
     aria-hidden="true">
    <div class="modal-dialog modal-min-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Подписка на наличие товара</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Нажимая на кнопку "Подписаться" Вы соглашаетесь на получение уведомления о наличии товара на email.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" onclick="reportAdmission({{ product.id }}, {{ current_user.id }})">Подписаться</button>
            </div>
        </div>
    </div>
</div>
