<div class="col-6 col-sm-3 card-item">
    <a href="{{ url_for( 'product_card', product_id = product.id )}}">
        <div class="product-item-photo">
            <img src="/{{ product.photo_url }}" alt="">
        </div>
        <div class="product-item-description">
            <p>{{ product.price }}</p>
            <b>{{ product.name }}</b>
            <b>{{ product.producer_name }}</b>
            {% if product.quantity == 0 %}
            <p class="goods-ended">
                <img src="{{ url_for( 'static', filename = 'img/exclamation-circle-solid.svg') }}">
                Нет в наличии
            </p>
            {% endif %}
        </div>
        <div class="product-rating product-rating--product-cart">
            {% for star in stars[product.id] %}
                <span class="product-rating__icon--empty">
                    <img src="{{ url_for( 'static', filename = star) }}" alt="">
                </span>
            {% endfor %}
            <span class="product-rating__number">
                {{ product.rating }}
            </span>
            <span class="product-rating__votes">
                ({{ product.votes }})
            </span>
        </div>
    </a>
</div>