<div class="col-6 col-sm-3 card-item">
    <a href="{{ url_for( 'product_card', product_id = product.id )}}">
        <div class="product-item-photo">
            <img src="/{{ product.photo_url }}" alt="">
        </div>
        <div class="product-item-description">
            <p>{{ product.price }}</p>
            <b>{{ product.name }}</b>
            {% for producer in producers %}
            {% if product.producer_id == producer.id %}
            <p class="producer_name">{{ producer.name }}</p>
            {% endif %}
            {% endfor %}
            {% if product.quantity == 0 %}
            <p class="goods-ended">
                <img src="{{ url_for( 'static', filename = 'img/exclamation-circle-solid.svg') }}">
                Нет в наличии
            </p>
            {% endif %}
        </div>
    </a>
</div>