{% extends 'base.html' %}

{% block meta_title %}О нас {% endblock %}

{% block body %}
<main class="main-footer-bottom">
    <div class="container">
        <h1>О нас</h1>
        <p>Absolutios potus! Ubi est flavum lanista?Eheu.Devirginato de dexter sectam, gratia fortis!Pol,
            torus!Sunt sagaes imperium altus, castus fideses.Capios messis in peritus chremisa!Mori sed mire ducunt
            ad secundus hydra.Terrors cantare, tanquam bi-color gemna.Vae.Visus talis caesium est.</p>
        <p>Absolutios potus! Ubi est flavum lanista?Eheu.Devirginato de dexter sectam, gratia fortis!Pol,
            torus!Sunt sagaes imperium altus, castus fideses.Capios messis in peritus chremisa!Mori sed mire ducunt
            ad secundus hydra.Terrors cantare, tanquam bi-color gemna.Vae.Visus talis caesium est.</p>
        <p>Absolutios potus! Ubi est flavum lanista?Eheu.Devirginato de dexter sectam, gratia fortis!Pol,
            torus!Sunt sagaes imperium altus, castus fideses.Capios messis in peritus chremisa!Mori sed mire ducunt
            ad secundus hydra.Terrors cantare, tanquam bi-color gemna.Vae.Visus talis caesium est.</p>
        <p>Absolutios potus! Ubi est flavum lanista?Eheu.Devirginato de dexter sectam, gratia fortis!Pol,
            torus!Sunt sagaes imperium altus, castus fideses.Capios messis in peritus chremisa!Mori sed mire ducunt
            ad secundus hydra.Terrors cantare, tanquam bi-color gemna.Vae.Visus talis caesium est.</p>
    </div>
</main>
{% endblock %}

