{% extends 'base.html' %}

{% block meta_title %}
    Корзина
{% endblock %}

{% block body %}
    <main id="cartMain">
        <div class="container">
            <section class="breadcrumbs">
                <span><a class="active">Корзина</a></span>
            </section>
        </div>

        {% if products %}
            <section class="notEmptyCart">
                {% for product in products %}
                    <section class={{ product.id }}>
                        <div class="container">
                            <div class="row">
                                <div class="col-2">
                                    <img src={{ url_for('static', filename ="img/apple-ant.jpg") }} alt=""
                                         width="150px"
                                         height="auto">
                                </div>
                                <div class="col-1 cart_product_stock_title">
                                    <span>Название</span>
                                    <span>Цена</span>
                                    <span>Артикул</span>
                                </div>
                                <div class="col-3 cart_product_stock_info">
                                    <span>{{ product.name }}</span>
                                    <span>{{ product.price }}руб/{{ product.measurement_unit }}</span>
                                    <span id="productIdCart">{{ product.id }}</span>
                                </div>
                                <div class="col-1">
                                    <span>Вес</span>
                                </div>
                                <div class="col-4 quantity_container">
                                    <span>Количество</span>
                                    <form class="product_quantity">
                                        <div class="value-button" id='decrease{{ product.id }}'
                                             onclick="decreaseQuantity('number{{ product.id }}'), changeQuantityOfProduct({{ product.id }})"
                                             value="Decrease Value">-
                                        </div>
                                        {% for product_id, quantity in items.items() %}
                                            {% if product.id == product_id %}
                                                <input class="product_quantity_input" type="number"
                                                       id='number{{ product.id }}' value="{{ quantity }}"
                                                       onchange="changeQuantityOfProduct({{ product.id }})"/>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="value-button" id='increase{{ product.id }}'
                                             onclick="increaseQuantity('number{{ product.id }}'), changeQuantityOfProduct({{ product.id }})"
                                             value="Increase Value">+
                                        </div>
                                    </form>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="close"
                                            onclick="deleteProduct('{{ product.id }}',{{ current_user.id }})">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endfor %}

                <div class="container total_container ">
                    <div class="row">
                        <div class="col-8 total_box">
                            <span>ИТОГО:</span>
                            <span class="total_value" id="totalCost"></span><span> ₽</span>
                        </div>
                        <div class="col-4 order_box">
                            <a href={{ url_for('order_registration', user_id = current_user.id) }} class="btn btn-primary
                               btn_order" id="placeOrderButton">
                                ОФОРМИТЬ ЗАКАЗ
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        {% else %}
            <section class="container total_container py-4" id="emptyCart">
                <h2>Ваша корзина пуста</h2>
            </section>
        {% endif %}
    </main>
{% endblock %}
