{% extends 'base.html' %}

{% block meta_title %}Корзина{% endblock %}

{% block meta_description %}
<meta name="description" content='{{ meta_description }}'>
{% endblock %}

{% block body %}
<main id="cartMain">
    <div class="container">
        <h2>КОРЗИНА</h2>
    </div>
    {% if products %}
    <section class="notEmptyCart">
        {% for product in products %}
        <section class="{{ product.id }}">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="/{{ product.photo_url }}" alt=""
                             width="150px"
                             height="auto">
                    </div>
                    <div class="col-1 cart_product_stock_title">
                        <p>Название</p>
                        <p>Цена</p>
                        <p>Артикул</p>
                        <p>Вес</p>
                    </div>
                    <div class="col-3 cart_product_stock_info">
                        <a href="{{ url_for('product_card', product_id=product.id ) }}">
                            <p>{{ product.name }}</p>
                        </a>
                        <p>{{ product.price }}</p>
                        <p id="productIdCart">#{{ product.id }}</p>
                        <p>
                            {% if (product.weight | string).split('.')[1] == '0' %}
                            {{ (product.weight | string).split('.')[0] }}
                            {% else %}
                            {{ product.weight }}
                            {% endif %}
                            {{ product.measurement_unit }}
                        </p>
                    </div>
                    <div class="col-3 quantity_container">
                        <p>Количество</p>
                        <form class="product_quantity">
                            <div class="value-button" id='decrease{{ product.id }}'
                                 onclick="decreaseQuantity('number{{ product.id }}'), changeQuantityOfProduct({{ product.id }})"
                                 value="Decrease Value">-
                            </div>
                            {% for product_id, quantity in items.items() %}
                            {% if product.id == product_id %}
                            <input class="product_quantity_input" type="number"
                                   id='number{{ product.id }}' value="{{ quantity }}"
                                   onchange="changeQuantityOfProduct({{ product.id }})"/>
                            {% endif %}
                            {% endfor %}
                            <div class="value-button" id='increase{{ product.id }}'
                                 onclick="increaseQuantity('number{{ product.id }}'), changeQuantityOfProduct({{ product.id }})"
                                 value="Increase Value">+
                            </div>
                        </form>
                    </div>
                    <div class="col-1">
                        <button type="button" class="close"
                                onclick="deleteProduct('{{ product.id }}',{{ current_user.id }})">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
        <div class="container total_container ">
            <div class="row">
                <div class="col-8 total_box">
                    <span>ИТОГО: &nbsp;</span>
                    <span class="total_value" id="totalCost"></span><span class="total_value"> ₽</span>
                </div>
                <div class="col-4 order_box">
                    <a href="{{ url_for('order_registration', user_id = current_user.id) }}" class="btn
                               btn-primary
                               btn_order" id="placeOrderButton">
                        ОФОРМИТЬ ЗАКАЗ
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <section class="container total_container py-4" id="emptyCart">
        <h2>Ваша корзина пуста</h2>
    </section>
    {% endif %}
</main>
{% endblock %}
