{% extends 'base.html' %}

{% block meta_title %}{{ category_name }}{% endblock %}

{% block body %}

<main>
    <div class="container products">
        <section class="breadcrumbs">
            <span><a href={{ url_for( 'index' ) }}>Каталог</a></span>
            <span><a class="active">{{ category_name }}</a></span>
        </section>
        <section class="product-filter">
            <form action="#">
                <div class="filter-block  col-6 col-sm-4">
                    <select class="form-control" name="sort_by" id="sortByPriceOrPopularity">
                        <option value="" disabled selected="selected">Сортировать</option>
                        <option id="sortByPriceUp">По цене ↑</option>
                        <option id="sortByPriceDown">По цене ↓</option>
                        <option id="sortByPriceByPopularity">По популярности</option>
                    </select>
                </div>
                <div class="filter-block col-6 col-sm-4">
                    <select class="form-control" name="subcategory" id="sortByCategory">
                        <option value="" selected>Подкатегория</option>
                        {% for subcategory in subcategories %}
                        <option>{{ subcategory.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-block col-6 col-sm-4">
                    <select class="form-control" name="producer" id="sortByProducer" >
                        <option value="" selected>Производитель</option>
                        {% for producer in category.producers %}
                        <option>{{ producer.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-block col-6 col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="in_stock" name="in_stock" checked>
                        <label class="form-check-label" for="in_stock">
                            В наличии
                        </label>
                    </div>
                </div>
            </form>
        </section>
        <section class="product-card row", id="productsByCategory">
            {% for product in products %}
            <div class="col-6 col-sm-3 card-item">
                <a href={{ url_for( 'product_card', product_id = product.id )}}>
                <div class="product-item-photo">
                    <img src={{ url_for('static', filename ="img/apple.jpg") }} alt="">
                </div>
                <div class="product-item-description">
                    <p>{{ product.price }}</p>
                    <b>{{ product.name }}</b>
                    {% for producer in producers %}
                    {% if product.producer_id == producer.id %}
                    <p>{{ producer.name }}</p>
                    {% endif %}
                    {% endfor %}
                    {% if product.quantity == 0 %}
                    <p class="goods-ended">
                        <img src={{ url_for( 'static', filename = 'img/exclamation-circle-solid.svg') }}>
                        Нет в наличии
                    </p>
                    {% endif %}
                </div>
                </a>
            </div>
            {% endfor %}
        </section>
    </div>
</main>
{% endblock %}
