{% extends 'base.html' %}

{% block meta_title %}{{ category_name }}{% endblock %}

{% block meta_description %}
    <meta name="description" content='{{ category_name }} - {{ meta_description }}'>
{% endblock %}

{% block body %}

<main>
    <div class="container products">
        <section class="breadcrumbs">
            <span><a href="{{ url_for( 'index' ) }}">Каталог</a></span>
            <span><a class="active">{{ category_name }}</a></span>
        </section>
        <section class="product-filter">
            <form action="#">
                <div class="filter-block  col-6 col-sm-4">
                    <select class="form-control" name="sort_by" id="sortByPriceOrPopularity">
                        <option value="" disabled selected="selected">Сортировать</option>
                        <option id="sortByPriceUp">По цене ↑</option>
                        <option id="sortByPriceDown">По цене ↓</option>
                        <option id="sortByPriceByPopularity">По популярности</option>
                    </select>
                </div>
                <div class="filter-block col-6 col-sm-4">
                    <select class="form-control" name="subcategory" id="sortByCategory">
                        <option value="" selected>Подкатегория</option>
                        {% for subcategory in subcategories %}
                        <option>{{ subcategory.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-block col-6 col-sm-4">
                    <select class="form-control" name="producer" id="sortByProducer">
                        <option value="" selected>Производитель</option>
                        {% for producer in category.producers %}
                        <option>{{ producer.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-block col-6 col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="in_stock" id="in_stock_catalog_products">
                        <label class="form-check-label" for="in_stock_catalog_products">
                            В наличии
                        </label>
                    </div>
                </div>
            </form>
        </section>
        <section class="product-card row" id="productsByCategory"><div style="width: 1px; height: 1px;" id="page1"></div>
        </section>
        <div id="page2"></div>
    </div>
</main>
{% endblock %}
