{% extends 'base.html' %}

{% block meta_title %}Профиль пользователя{% endblock %}

{% block meta_description %}
    <meta name="description" content='{{ user.first_name }} {{ user.last_name }} - {{ meta_description }}'>
{% endblock %}

{% block body %}
    <main class="profile">
        <div class="container profile_title">
            <div class="name_container row">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <p class="edit-profile">
                    <a href={{ url_for( 'edit_consumer', user_id = user.id) }}>
                        <img src={{ url_for( 'static', filename = 'img/edit-regular.svg') }}>
                        Редактировать
                    </a>
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-2 col-xl-1 profile-keys">
                    <p>E-mail:</p>
                </div>
                <div class="col-12 col-sm-8 col-md-10 col-xl-10 profile-values">
                    <p class="main-text">{{ user.email }}</p>
                </div>
            </div>
            {% if user.phone_number %}
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-2 col-xl-1 profile-keys">
                        <p>Телефон:</p>
                    </div>
                    <div class="col-12 col-sm-8 col-md-10 col-xl-10 profile-values">
                        <p class="main-text">{{ user.phone_number }}</p>
                    </div>
                </div>
            {% endif %}
            {% if user.address %}
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-2 col-xl-1 profile-keys">
                        <p>Адрес:</p>
                    </div>
                    <div class="col-12 col-sm-8 col-md-10 col-xl-10 profile-values">
                        <p class="main-text">{{ user.phone_number }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
