{% extends 'base.html' %}

{% block meta_title %}Каталог{% endblock %}

{% block meta_description %}
    <meta name="description" content='{{ meta_description }}'>
{% endblock %}

{% block body %}
    <main>
        <div class="container catalog">
            <h1>КАТЕГОРИИ ТОВАРОВ</h1>
            <div class="row catalog-category">
                {% for category in categories %}
                    <div class="col-6 col-sm-3 catalog-category-item">
                        <a href={{ url_for( 'category', category_name = category.slug ) }}>
                            <img src={{ url_for('static', filename ="img/category/" + category.slug + ".jpg") }} alt="">
                            <p>{{ category.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <h1>ПОПУЛЯРНЫЕ ТОВАРЫ</h1>
            <div class="row popular-product">
                {% for product in popular_products %}
                    <div class="col-6 col-sm-3 card-item">
                        <a href={{ url_for( 'product_card', product_id = product.id ) }}>
                            <div class="product-item-photo">
                                <img src="/{{ product.photo_url }}" alt="">
                            </div>
                            <div class="product-item-description">
                                <p>{{ (product.price | string).split('.')[0] }} ₽</p>
                                <b>{{ product.name }}</b>
                                {% for producer in producers %}
                                    {% if product.producer_id == producer.id %}
                                        <p class="producer_name">{{ producer.name }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="product-rating product-rating--product-cart">
                                {% for star in stars[product.id] %}
                                    <span class="product-rating__icon--empty">
                                        <img src="{{ url_for( 'static', filename = star) }}" alt="">
                                    </span>
                                {% endfor %}
                                <span class="product-rating__number">
                                    {{ product.rating }}
                                </span>
                                <span class="product-rating__votes">
                                    ({{ product.votes }})
                                </span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}