{% extends 'base.html' %}

{% block meta_title %}
    Мои заказы
{% endblock %}

{% block body %}
    <main class="order-history">
        <section class="breadcrumbs container">
            <span><a class="active">Мои заказы</a></span>
        </section>
        {% for order in orders %}
            <div class="container">
                <div class="row order_history_info">
                    <div class="col-2">
                        <span>№ {{ order.id }}</span>
                    </div>
                    <div class="col-3">
                        <span> {{ producer_names[order.producer_id] }}  </span>
                    </div>
                    <div class="col-4 order_history_date">
                        <span class="orderTimeStamp">{{ (order.order_timestamp | string).split(' ')[0] }}</span>
                    </div>
                    <div class="col-3">
                        <span>СУММА ЗАКАЗА: {{ order.total_cost }}</span>
                    </div>
                </div>
            </div>
            {% for item, quantity in order.order_items_json.items() %}
                {% for product in products %}
                    {% if product.id == item | int %}
                        <div class="container">
                            <div class="row">
                                <div class="col-2">
                                    <img src={{ url_for('static', filename ="img/apple-ant.jpg") }} alt=""
                                         width="150px">
                                </div>
                                <div class="col-1 cart_product_stock_title">
                                    <span>Название</span>
                                    <span>Цена</span>
                                    <span>Артикул</span>
                                </div>
                                <div class="col-3 cart_product_stock_info">
                                    <span>{{ product.name }}</span>
                                    <span>{{ product.price }}</span>
                                    <span>{{ item }}</span>
                                </div>
                                <div class="col-1">
                                    <span>Вес</span>
                                    {% if (product.weight | string).split('.')[1] == '0' %}
                                        <span>{{ (product.weight | string).split('.')[0] }}</span>
                                    {% else %}
                                        <span>{{ product.weight }}</span>
                                    {% endif %}
                                    <span> {{ product.measurement_unit }}</span>
                                </div>
                                <div class="col-4 quantity_container">
                                    <span>Количество:</span>
                                    <span>{{ quantity }}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="container delivery_container">
                <div class="row">
                    <div class="col-2 delivery_value">
                        <span>Доставка:</span>
                        <span>Цена доставки:</span>
                    </div>
                    <div class="col-2 delivery_value">
                        <span>Курьером</span>
                        <span>400 Р</span>
                    </div>
                    <div class="col-3">
                        <span>Статус заказа:</span>
                    </div>
                    <div class="col-2">
                        <span>Необработан</span>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary btn_order">ОТМЕНИТЬ ЗАКАЗ</button>
                        <button class="btn btn-primary btn_order">ПОВТОРИТЬ ЗАКАЗ</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
