{% extends 'base.html' %}

{% block meta_title %}Мои заказы{% endblock %}

{% block meta_description %}
    <meta name="description" content='{{ user.first_name }} {{ user.last_name }} - {{ meta_description }}'>
{% endblock %}


{% block body %}
    <main class="order-history" id="consumerOrderHistory">
        {#    this will be in JS#}
        <section class="container order-dialog">
            <div class="order-dialog__item">
                <div class="row order-dialog__header">
                    <div class="col-4 col-sm-2 order-dialog__photo">
                        <img src="{{ url_for('static', filename='img/userpic.svg') }}" alt="">
                    </div>
                    <div class="col-8 col-sm-7 order-dialog__name">
                        <p class="main-text">Имя Васи Консюмера</p>
                    </div>
                    <div class="col-8 col-sm-3 order-dialog__date">
                        <p>20.07.2018</p>
                    </div>
                </div>
                <div class="order-dialog__content main-text">
                    Lorehhhhhhhhh ffffffffff
                    ffffffffffffffff ffffffffffff ffffffffffffff
                    f fffffffffffffff fffffffffff ffffffffff
                </div>
            </div>
            <div class="order-dialog__item">
                <div class="row order-dialog__header">
                    <div class="col-4 col-sm-2 order-dialog__photo">
                        <img src="{{ url_for('static', filename='img/standard-profile.jpg') }}" alt="">
                    </div>
                    <div class="col-8 col-sm-7 order-dialog__name">
                        <p class="main-text">Имя Ивана Продюсера</p>
                    </div>
                    <div class="col-8 col-sm-3 order-dialog__date">
                        <p>20.07.2018</p>
                    </div>
                </div>
                <div class="order-dialog__content main-text">
                    Lorehhhhhhhhh ffffffffff
                    ffffffffffffffff ffffffffffff ffffffffffffff
                    f fffffffffffffff fffffffffff ffffffffff
                </div>
            </div>
            <div class="order-dialog__form col-12 col-lg-10">
                <textarea type="text" class="form-control" rows="4" id="orderDialogMessage"
                          name="orderDialogMessage"></textarea>
                <div class="order-dialog__btn-block">
                    <button class="btn btn-secondary">
                        Отправить
                    </button>
                </div>
            </div>
        </section>
        {#    end#}
    </main>
{% endblock %}
