{% extends 'base.html' %}

{% block meta_title %}
Оформление заказа
{% endblock %}

{% block body %}
<main>
    <div class="container order_registration">
        <section class="breadcrumbs">
            <span><a href="#">Корзина</a></span>
            <span><a class="active">Оформление заказа</a></span>
        </section>
        <div class="row order-registration-header">
            <h1>КОНТАКТНАЯ ИНФОРМАЦИЯ</h1>
            <div class="order-sum">
                <b>СУММА ЗАКАЗА</b>
                <span>1200Р</span>
            </div>
        </div>
        <form action="#">
            <div class="row order-registration-item">
                <label for="name" class="col-4 col-sm-2">Имя</label>
                <input type="text" class="form-control col-8 col-sm-4" id="orderRegistratonName" placeholder="Иван">
            </div>
            <div class="row order-registration-item">
                <label for="email" class="col-4 col-sm-2">Email</label>
                <input type="email" class="form-control col-8 col-sm-4" id="orderRegistratonEmail" aria-describedby="emailHelp" placeholder="example@email.com">
            </div>
            <div class="row order-registration-item">
                <label for="phone" class="col-4 col-sm-2">Телефон</label>
                <input type="text" class="form-control col-8 col-sm-4" id="orderRegistratonPhone" placeholder="+79110558963">
            </div>
            <div class="row order-registration-item">
                <label for="adress" class="col-4 col-sm-2">Адрес</label>
                <input type="text" class="form-control col-8 col-sm-4" id="orderRegictrationAdress" placeholder="Улица Пушкина д.3 кв 62">
            </div>
            <div class="col-12 col-sm-6 order-registration-agree">
               <button type="submit" class="btn btn-success">ПОДТВЕРДИТЬ ЗАКАЗ</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
