{% extends 'base.html' %}

{% block meta_title %}Список производителей {% endblock %}

{% block meta_description %}
    <meta name="description" content='{{ meta_description }}'>
{% endblock %}

{% block body %}
<main>
    <div class="container" id="">

        <div class="row">
            <div class="col-3">
                <img src="" alt="">
            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
    </div>
</main>
{% endblock %}
