{% extends 'base.html' %}

{% block meta_title %}Сельхоз Иваныч товары {% endblock %}

{% block body %}

<main>
    <div class="container products">
        <section class="breadcrumbs">
            <span><a class="active">Товары</a></span>
        </section>
        <section class="product-filter">
            <form action="#">
                <div class="filter-block col-6 col-sm-4">
                    <select class="form-control" name="sort_by">
                        <option>По цене ↑</option>
                        <option>По цене ↓</option>
                        <option>По популярности</option>
                    </select>
                </div>
                <div class="filter-block col-6 col-sm-4">
                    <input class="form-control mr-sm-2" type="text" placeholder="Поиск">
                </div>
                <div class="filter-block col-6 col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="in_stock" name="in_stock">
                        <label class="form-check-label" for="in_stock">
                            В наличии
                        </label>
                    </div>
                </div>
            </form>
            <a class="btn btn-secondary add-product" href={{ url_for( 'create_product', producer_id =
            products[0].producer_id ) }} > Добавить товар</a>
        </section>
        <section class="product-card row">
            {% for product in products %}
            <div class="col-6 col-sm-3 card-item">
                <a href={{ url_for('product_card', product_id = product.id )}} >
                <div class="product-item-photo">
                    <img src={{ url_for('static', filename ="img/apple.jpg") }} alt="">
                </div>
                <div class="product-item-description">
                    <p>{{ product.price }}</p>
                    <b>{{ product.name }}</b>
                    <p class="edit-product">
                        <a href={{ url_for('edit_product', producer_id = product.producer_id, product_id = product.id )}}>
                        <img src={{ url_for( 'static', filename = 'img/edit-regular.svg') }}>
                        Редактировать
                        </a>
                    </p>
                </div>
                </a>
            </div>
            {% endfor %}
        </section>
    </div>
</main>
{% endblock %}