{% extends 'base.html' %}

{% block meta_title %}Товары производителя {{ current_user.name }} {% endblock %}

{% block meta_description %}
<meta name="description" content='{{ current_user.name }} - {{ meta_description }}'>
{% endblock %}

{% block body %}

<main>
    <div class="container products">
        <section class="product-filter">
            <form action="#" class="row">
                <div class="filter-block col-12 col-sm-4">
                    <select class="form-control" name="sort_by" id="sortProducerProducts">
                        <option>По цене ↑</option>
                        <option>По цене ↓</option>
                        <option>По популярности</option>
                    </select>
                </div>
                <div class="filter-block col-12 col-sm-4">
                    <input class="form-control mr-sm-2" type="text" placeholder="Поиск" id="producerProductsSearch">
                </div>
                <div class="filter-block col-12 col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="in_stock" name="in_stock">
                        <label class="form-check-label" for="in_stock">
                            В наличии
                        </label>
                    </div>
                </div>
            </form>
            <a class="btn btn-secondary add-product"
               href="{{ url_for( 'create_product', producer_id = current_user.id ) }}"> Добавить товар</a>
        </section>
        <section class="product-card row" id="producerProducts"></section>
        {% if not producer_has_products %}
        <section class="producer_products_empty">
        <h2>У вас нет товаров</h2>
        </section>
        {% endif %}
    </div>
</main>
{% endblock %}