{% extends 'base.html' %}

{% block meta_title %}Заказы{% endblock %}

{% block meta_description %}
<meta name="description" content='{{ meta_description }}'>
{% endblock %}


{% block body %}
<main class="producer-orders">
    <div class="container">
        {% if orders %}
        <div class="row">
            <div class="col-12 col-sm-4 col-md-3">
                <select class="form-control select-order-status" name="subcategory" id="statuses">
                    <option value="Все" selected>Все</option>
                    <option value="Не обработан">Не обработан</option>
                    <option value="Обрабатывается">Обрабатывается</option>
                    <option value="Отправлен">Отправлен</option>
                    <option value="Готов к самовывозу">Готов к самовывозу</option>
                    <option value="Завершён">Завершён</option>
                </select>
            </div>
            <div class="col-12 col-sm-8 col-md-6">
                <form class="form-inline my-lg-0 filter-form">
                    <input class="form-control mr-sm-2 filter-form-search--orders" type="text" placeholder="Найти...">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>
                </form>
            </div>
        </div>
        {% else %}
        <h2>У Вас нет заказов</h2>
        {% endif %}
    </div>


    <div id="mainProducerOrderSection">
        <div class="table_global_container" id="producerOrderSectionTable">

        </div>
    </div>
</main>
{% endblock %}
