{% extends 'base.html' %}

{% block meta_title %}{{ product.name }}{% endblock %}

{% block body %}
<main>
    <section class="container breadcrumbs">
        <span><a href={{ url_for( 'index' ) }}>Каталог</a></span>
        <span><a href={{ url_for( 'category', category_name = category.slug )}}>{{ category_name }}</a></span>
        <span><a class="active">Яблоки Антоновка</a></span>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="product_title">{{ product.name }}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="card_image">
                    <img src={{ url_for('static', filename ="img/apple.jpg") }} alt="" width="100%" height="auto">
                </div>
            </div>
            <div class="col-4 product_info">
                <span class="producer_title">ПРОДАВЕЦ</span>
                <span class="producer_title_name"><a href={{ url_for('producer_profile', producer_id = product.producer_id ) }}>{{ producer_name }}</a></span>
                <span class="product_title_id">АРТИКУЛ</span>
                <span class="product_id">{{ product.id }}</span>
                <span class="product_price_title">ЦЕНА</span>
                <span class="product_price_value">{{ product.price }} руб/{{ product.measurement_unit }}</span>
                <!-- TODO : выводить добавление в корзину только для покупателя-->
                <div class="row">
                    <form class="product_quantity">
                        <div class="value-button" id="decrease" onclick="decreaseQuantity('number')" value="Decrease Value">-</div>
                        <input class="product_quantity_input" type="number" id="number" value="1"/>
                        <div class="value-button" id="increase" onclick="increaseQuantity('number')" value="Increase Value">+</div>
                    </form>
                    <button type="button" class="btn btn-success">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="col-3">
                {% if product.quantity == 0 %}
                <p class="out-of-stock"><img src={{ url_for('static', filename ="img/exclamation-circle-solid.svg") }}>Нет в наличии</p>
                {% endif %}
                <!--TODO: выводить редактирование товара только для производителя-->
                <p class="edit-product"><a href={{ url_for('edit_product', producer_id = product.producer_id, product_id = product.id )}}><img src={{ url_for( 'static', filename = 'img/edit-regular.svg') }}>Редактировать</a></p>
            </div>
        </div>
        {% if product.description %}
        <div class="row description-product">
            <div class="col-12">
                <h2>Описание</h2>
                <p>
                    {{ product.description }}
                </p>
            </div>
        </div>
        {% endif %}
    </div>
</main>

{% endblock %}
