{% extends "base.html" %}

{% block meta_title %}Восстановление пароля{% endblock %}

{% block meta_description %}
    <meta name="description" content='{{ meta_description }}'>
{% endblock %}

{% block body %}
<main class="reset_password">
    <h1>Восстановление пароля</h1>
    <form action="" method="post" class="reset_password_form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32, type_="password", class_="form-control") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32, type_="password", class_="form-control") }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="btn btn-success") }}</p>
    </form>
</main>
{% endblock %}
